{% load static %}

<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="icon" href="{% static 'img/favicon.ico' %}">
  <link rel="stylesheet" href="{% static '/styles/base.css' %}">
  {% block head %} {% endblock head %}
</head>
<body>
    <header class="row space">
        <div class="logo"><a href=""><img alt="drftask2" src="{% static '/img/logo.png' %}"></a></div>
      <nav class="header__links space center row">
          <ul class="link__list row">
            {% block links %} {% endblock links %}
          </ul>
        </nav>
    </header>

    <main class="main__section evenly center column">
      {% block content %} {% endblock %}
    </main>

    <footer class="row center">
      <div class="footer__github column">
        <a href="https://github.com/achopik/drftask2"><img src="{% static '/img/github.png' %}" alt="github"></a>
      </div>
    </footer>

</body>
</html>
