% extends "registration/auth_base.html" %}

{% block content %}
<article class="reset__confirm column center">
    {% if validlink %}
        <p>Введите и подтвердите новый пароль</p>
        <form action="" method="post">
            {% csrf_token %}
            <div class="form__inner">
                <div class="form__elem column center">
                    <p>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Новый пароль</label></p>
                    <p>{{ form.new_password1 }}</p>
                </div>
                <div class="form__elem column center">
                    <p>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Подтверждение</label></p>
                    <p>{{ form.new_password2 }}</p>
                </div>
                <div class="form__elem column center">
                    <p></p>
                    <p><input type="submit" value="Сменить мой пароль" /></p>
                </div>
            </div>
        </form>
    {% else %}
        <h1>Сброс пароля не был завершен</h1>
        <p>Ссылка сброса пароля была неверной. Возможно, её уже использовали. Пожалуйста, повторите попытку сброса пароля</p>
    {% endif %}
</article>

{% endblock %}