{% extends "registration/auth_base.html" %}

{% block links %}
<li class="nav__link"><a href=""><p>Регистрация</p></a></li>
<li class="nav__link"><a href="{% url 'login'%}"><p>Вход</p></a></li>
{% endblock links %}


{% block content %}
<article class="center column">
  <form action="" method="post" class="reset__form center column">
    {% csrf_token %}
      {% if form.email.errors %} {{ form.email.errors }} {% endif %}
          <div class="reset__wrapper center column">
            <p>Введите свой e-mail адрес</p>
            <p>{{ form.email }}</p>
          </div>
      <input type="submit" class="btn btn-default btn-lg" value="Восстановить пароль" />
  </form>
</article>
{% endblock %}